
        * {
            margin: 0;
            padding: 0;
        }
        a {
            text-decoration: none;
            color: #156ed6;
        }
        li {
            list-style: none;
        }
        .head {
            width: 100%;
            height: 100px;
            /* background-color: red; */
        }
        .logo {
            float: left;
            width: 200px;
            height: 60px;
            /* background-color: pink; */
            margin: 20px 580px;
        }
        .car {
            float: left;
            width: 26px;
            height: 23px;
            /* background-color: yellow; */
            margin: 10px 0 0 200px;
        }
        .box-right {
            float: left;
            width: 300px;
            height: 80px;
            /* background-color: green; */
            color: #3a6b9f;
            margin-left: 10px;
            margin-top: 13px;
        }
        .box-right a:hover {
            color: rgb(255, 174, 0);
        }
        .nav {
            width: 100%;
            height: 60px;
            background-color: #22304d;
            margin-top: 0;
        }
        .nav-box {
            width: 1200px;
            height: 60px;
            background-color: #22304d;
            margin: auto;
            line-height: 60px;
        }
        .nav-li li{
            float: left;
            width: 70px;
            height: 60px;
            background-color: #22304d;
            text-align: center;
        }
        .nav-li a {
            color: white;
        }
        .search-box {
            width: 100%;
            height: 50px;
            background-color: #e6780b;
        }
        .search {
            width: 500px;
            height: 50px;
            background-color: #e6780b;
            margin-left: 1380px;
        }
        .box1 {
            float: left;
            width: 80px;
            height: 50px;
            color: white;
            background-color: #e6780b;
            line-height: 50px;
            font-size: 20px;
            text-align: center;
        }
        .box2 input {
            float: left;
            width: 150px;
            height: 30px;
            font-size: 15px;
            line-height: 50px;
            margin-top: 10px;
        }
        .search-img {
            float: left;
            width: 52px;
            height: 20px;
            background-color: pink;
            margin-top: 15px;
        }
        .node1 {
            position: relative;
            width: 1050px;
            height: 500px;
            background-color: red;
            margin: 20px auto;
        }
        .promo-nav {
            position: absolute;
            width: 200px;
            height: 50px;
            /* background-color: blue; */
            margin: 450px 850px;
        }
        .promo-nav li {
            float: left;
            width: 28px;
            height: 30px;
            background-color: rgba(247, 94, 6, 0.5);
            margin: 5px;
            color: white;
            text-align: center;
            line-height: 30px;
            border-radius: 20px;
        }
        .promo-nav li:hover {
            background-color: #e9550c;
        }
        .node2 {
            width: 1050px;
            height: 260px;
            background-color: #d9e5e1;
            margin: 20px auto;
        }
        .left-box {
            float: left;
              width: 560px;
              height: 240px;
              /* background-color: red; */
        }
        .right-box {
            float: left;
              width: 470px;
              height: 240px;
              /* background-color: green; */
        }
         .top-box2 { 
            width: 130px;
            height: 30px;
            /* background-color: blue; */
            margin: 4px 30px;
        }
        .bottom-box2 {
            width: 500px;
            height: 201px;
            /* background-color: pink; */
            margin-top: 5px;
          
        }
        .book li {
            float: left;
            width: 130px;
            height: 201px;
            margin-left: 75px;

        }
        .node3 {
            width: 100%;
            height: 60px;
            background-color: #cfd7da;
        }
        .logo2 {
            float: left;
            width: 200px;
            height: 60px;
            margin-left: 620px;
        }
        .text-box {
            float: left;
            width: 500px;
            height: 60px;
            /* background-color: #fff; */
            margin-left: 100px;
            padding-top: 2px;
            line-height: 30px;
        }
